@tailwind utilities;
@import "tailwindcss";
@layer base {
  img {
    display: initial;
  }
}

/* Add these styles for dark theme map */
/* .dark-map {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.dark-map .leaflet-tile {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.dark-map .leaflet-container {
  background: #242424;
} */